/* general settings */

body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}

* {
    margin: 0;
    padding: 0;    
    text-decoration: none;
    outline: none;    
}


/* navbar settings */
.navbar {
    background:#6ab446;
    
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    margin-left: 5%;
}
.nav-link {
    margin-right: 3em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

/* landing page */
.header {
    background-image: url("https://i.imgur.com/JDjDQfX.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(206, 201, 201, 0.158);
   
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #6ab446;
}

.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}

.description button {
    border:1px solid #6bb4463a;;
    background:#6bb4463a;
    border-radius: 15px;
    color:#fff;
}

.description button:hover {
    border:1px solid #fff;
    background:#fff;
    color:#000;
}